<h1>Register</h1>

<%= form_for(@user) do |f|%>
	<%= f.email_field :email, {placeholder: "Email"} %><br/><br/>
	<%= f.password_field :password , {placeholder: "Password"}%><br/><br/>
	<%= f.password_field :password_confirmation , {placeholder: "Confirm Password"} %><br/><br/>
	<%= f.submit "Register", class: "link" %>
<% end %>